{% extends 'blog_t/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ post_form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    {% else %}
        <a href="{% url 'account_login' %}">Авторизуйтесь</a> или
        <a href="{% url 'account_signup' %}">зарегистриуйтесь</a>
        на сайте, чтобы предложить статью. <a href="{% url 'account_login' %}"></a>
    {% endif %}
{% endblock %}